[DEFAULT]
temp: 00.0, Niezdefiniowana
a: ?.?
b: ?.?
c: ?.?


[POMIAR 1]
temp:23.3, Pochmurno i wietrznie
a:  2.45
b:  3.45
c: -8.1

[Pomiar 2]
temp:21.5, Deszczowo
a: -12.45
b:  13.45
c:  7.8

[Pomiar 3]
temp: 22.0
a: 21.45
b: 31.45
c:  5.0